.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

.App-header {
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ImageItem {
  width: 300px;
  height: 320px;
  border-style: groove;
}

.Item {
  padding: 10px 0px 10px 10px;
  text-align: center;
  display: inline-block;
}